**/known_accurate/*
node_modules
discord_bot/.env
discord_bot/coronavirusbot19-firebase-adminsdk-sckiv-6ca1e54162.json
discord_bot\package-lock.json
package-lock.json
**/.env
.vscode 
apiListener/apiListener
**/config.yml
functions/.eslintrc.json
firebase-debug.log
