.state-county {
    width: 50%;
}
nav, a:not(#logo) {
    background-color: #a02727;
    border-top: 5px solid #a02727;
    border-bottom: 5px solid #a02727;
}
a:not(#logo):hover, .navelement:hover {
    background-color: #d42323;
    border-top: 5px solid #a02727;
    border-bottom: 5px solid #a02727;
}
img:hover {
    cursor: pointer;
}
.search {
    /* border-radius: 100%; */
    height: 90%;
}